In [4]:
import pandas as pd
import os

In [10]:
os.getcwd()

'/Users/evgeniyburovik/Documents/Courses/les_4'

In [11]:
os.listdir('/Users/evgeniyburovik/Documents/Courses/les_4')

['.DS_Store',
 '4_necessary_inn.txt',
 '.ipynb_checkpoints',
 '4_inn.xls',
 'lesson_4_1_.ipynb',
 'data',
 'les_4_hw1.ipynb',
 'les_4_hw.ipynb']

In [3]:
df1 = pd.read_excel('4_inn.xls')

In [32]:
df2 = pd.read_csv('4_necessary_inn.txt', sep=' ', names = ['head_inn'])
df2.head()

       head_inn
0  394609645484
1  281578625230
2  923769811917
3  998694734508
4  271011690615

In [13]:
df1.head()

,Unnamed: 0,#,name,reg_number,address,head,head_job,head_inn,phone,email,site,registration_date,nalogoplatelschik_code,oktmo_code,okato_code,registration_region,okato_name,field,"capital,RUB","income,RUB"
0,0,0,"ЗАО «Власова, Макаров и Шашков»",1143692580560,"д. Кирово-Чепецк, пр. Металлургов, д. 537 к. 3...",Жданов Карл Виленович,Маммолог,109092209811,+7 (559) 338-87-76,bogdanovavtonom@yahoo.com,ooo.info,2015-01-07,2006-10-04,21112877268,73423615032,Ulan-Ude,"к. Тосно, ул. Пушкинская, д. 896, 617222",Синхронизация критически важных отношений,54875526078,32205872896
1,1,1,"РАО «Тимофеева, Алексеева и Кузнецова»",9342309660697,"г. Арзамас, наб. Фестивальная, д. 7 стр. 8/2, ...",Рожков Харлампий Алексеевич,Воспитатель,704229465069,8 (632) 620-8879,safonovantonin@rao.org,ooo.net,1990-05-16,2019-01-18,18393547520,19072454279,Tyoply Stan,"ст. Кяхта, бул. Нефтяников, д. 24, 768742",Формирование заказных методик,33876448811,47437574301
2,2,2,РАО «Юдин-Ефимова»,1277485323451,"п. Меренга, алл. Достоевского, д. 3/4 к. 497, ...",Филимон Фадеевич Дьячков,Автослесарь,267655036377,+74925330378,kdorofeev@npo.ru,ao.com,1982-11-04,1986-06-19,56104355836,18629292792,Danilov,"клх Усолье Сибирское, алл. Шишкина, д. 3/9 к. ...",Максимизация корпоративных метрик,94073834991,7701710065
3,3,3,Доронин Инкорпорэйтед,7139161431511,"д. Иваново, ул. Красных Партизан, д. 83 к. 4, ...",Крылов Глеб Якубович,Тюремный надзиратель,362024991175,+7 118 643 21 48,nkulakova@mail.ru,ooo.ru,2005-01-02,2004-04-06,10398489351,32502585383,Beryozovsky,"г. Заводоуковск, ул. Гражданская, д. 7 к. 8/5,...",Разработка ориентированных на пользователя инт...,86971505490,61148002572
4,4,4,Объединенная энергетическая компания,6114798049639,"к. Энгельс, наб. Шишкина, д. 120, 823828",Субботин Вячеслав Федотович,Инженер-электрик,257948948010,8 642 249 2134,evgraf_18@yahoo.com,gerasimova.biz,1983-07-02,1992-06-20,20074507047,40083207999,Bavly,"к. Соль-Илецк, пер. Пригородный, д. 804 к. 1/3...",Монетизация интуитивных веб-сервисов,36351136214,34861533393

In [33]:
df = df2.merge(df1, on = 'head_inn')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 0 to 114
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   head_inn                115 non-null    int64
 1   Unnamed: 0              115 non-null    int64
 2   #                       115 non-null    int64
 3   name                    115 non-null    object
 4   reg_number              115 non-null    int64
 5   address                 115 non-null    object
 6   head                    115 non-null    object
 7   head_job                115 non-null    object
 8   phone                   115 non-null    object
 9   email                   115 non-null    object
 10  site                    115 non-null    object
 11  registration_date       115 non-null    object
 12  nalogoplatelschik_code  115 non-null    object
 13  oktmo_code              115 non-null    int64
 14  okato_code              115 non-null    int64
 15  registration_region     115 non-null    object
 16  okato_name              115 non-null    object
 17  field                   115 non-null    object
 18  capital,RUB             115 non-null    int64
 19  income,RUB              115 non-null    int64
dtypes: int64(8), object(12)
memory usage: 18.9+ KB

In [44]:
sum_income = df['income,RUB'].sum()

In [37]:
selected_inn  = df2.head_inn.tolist()

In [38]:
df = df1.query('head_inn in @selected_inn')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 47 to 2108
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              115 non-null    int64
 1   #                       115 non-null    int64
 2   name                    115 non-null    object
 3   reg_number              115 non-null    int64
 4   address                 115 non-null    object
 5   head                    115 non-null    object
 6   head_job                115 non-null    object
 7   head_inn                115 non-null    int64
 8   phone                   115 non-null    object
 9   email                   115 non-null    object
 10  site                    115 non-null    object
 11  registration_date       115 non-null    object
 12  nalogoplatelschik_code  115 non-null    object
 13  oktmo_code              115 non-null    int64
 14  okato_code              115 non-null    int64
 15  registration_region     115 non-null    object
 16  okato_name              115 non-null    object
 17  field                   115 non-null    object
 18  capital,RUB             115 non-null    int64
 19  income,RUB              115 non-null    int64
dtypes: int64(8), object(12)
memory usage: 18.9+ KB

In [45]:
sum_income_var_2 = df['income,RUB'].sum()

In [47]:
if sum_income_var_2 == sum_income:
    print('Все верно!')
else:
    print('Что-то пошло не так')

Все верно!