In [1]:
#Импорт библиотек
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

In [2]:
# Подготавливаем общие настройки для графиков

sns.set(
    rc={
        "figure.figsize": (20, 10), #размер графика - 12 дюймов в ширину, 8 в длину
        "axes.titlesize": 20, #размер заголовка 
        "axes.labelsize": 14, #размер подписей осей
        "xtick.labelsize": 13, #размер подписей чёрточек на x-оси
        "ytick.labelsize": 13, #размер подписей чёрточек на y-оси
    }
)

sns.set_style("whitegrid") #тема фона, белая со штриховкой

In [3]:
os.listdir(os.getcwd())

['avocado_mean.csv',
 'ads',
 '.DS_Store',
 'avocado_full.csv',
 'delays.csv',
 'les_6_hw_1.ipynb',
 '.ipynb_checkpoints',
 'les_6_hw_2.ipynb']

In [4]:
os.getcwd()

'/Users/evgeniyburovik/Documents/Courses/les_6'

In [5]:
os.listdir('/Users/evgeniyburovik/Documents/Courses/les_6/ads')

['ads_data.csv', 'ads_clients_data.csv']

In [6]:
ads_clients = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_6/ads/ads_clients_data.csv')

In [7]:
ads_clients.head()

         date  client_union_id  community_id create_date
0  2020-05-07                1    -130371893  2018-12-24
1  2020-05-07                2    -130304626  2019-02-10
2  2020-05-07                3    -130462599  2019-01-25
3  2020-05-07                4    -130574300  2018-12-09
4  2020-05-07                5    -130292358  2019-01-08

In [8]:
ads_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122078 entries, 0 to 122077
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             122078 non-null  object
 1   client_union_id  122078 non-null  int64
 2   community_id     122078 non-null  int64
 3   create_date      122078 non-null  object
dtypes: int64(2), object(2)
memory usage: 3.7+ MB

In [9]:
ads = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_6/ads/ads_data.csv')

In [10]:
ads.head()

,date,time,event,platform,ad_id,client_union_id,campaign_union_id,ad_cost_type,ad_cost,has_video,target_audience_count
0,2019-04-01,2019-04-01 00:00:48,view,android,45061,34734,45061,CPM,200.6,0,1955269
1,2019-04-01,2019-04-01 00:00:48,view,web,121288,121288,121288,CPM,187.4,0,232011
2,2019-04-01,2019-04-01 00:01:03,view,android,102737,102535,102564,CPC,60.7,0,4410
3,2019-04-01,2019-04-01 00:01:03,view,android,107564,106914,107564,CPM,217.3,0,62711
4,2019-04-01,2019-04-01 00:01:09,view,android,4922,37,4400,CPC,60.1,0,1183501

In [11]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   date                   1000000 non-null  object
 1   time                   1000000 non-null  object
 2   event                  1000000 non-null  object
 3   platform               1000000 non-null  object
 4   ad_id                  1000000 non-null  int64
 5   client_union_id        1000000 non-null  int64
 6   campaign_union_id      1000000 non-null  int64
 7   ad_cost_type           1000000 non-null  object
 8   ad_cost                1000000 non-null  float64
 9   has_video              1000000 non-null  int64
 10  target_audience_count  1000000 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 83.9+ MB

In [ ]:
pivot()

In [19]:
??_pivot()

Object `_pivot()` not found.