In [1]:
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

In [2]:
# Подготавливаем общие настройки для графиков

sns.set(
    rc={
        "figure.figsize": (20, 10), #размер графика - 12 дюймов в ширину, 8 в длину
        "axes.titlesize": 20, #размер заголовка 
        "axes.labelsize": 14, #размер подписей осей
        "xtick.labelsize": 13, #размер подписей чёрточек на x-оси
        "ytick.labelsize": 13, #размер подписей чёрточек на y-оси
    }
)

sns.set_style("whitegrid") #тема фона, белая со штриховкой
sns.set(font_scale=2)

In [3]:
os.getcwd()

'/Users/evgeniyburovik/Documents/Courses/les_8'

In [18]:
os.listdir()

['les_8_hw_1.ipynb',
 'bikes_april.csv',
 '.ipynb_checkpoints',
 'bikes_q1_sample.csv']

In [5]:
df = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_8/bikes_q1_sample.csv')

In [6]:
df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17617135,2018-01-22 20:04:31,2018-01-22 20:11:53,1131,442.0,471,Francisco Ave & Foster Ave,468,Budlong Woods Library,Subscriber,Female,1949.0
1,17897619,2018-03-16 19:47:59,2018-03-16 20:04:00,6146,961.0,296,Broadway & Belmont Ave,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,1988.0
2,17881307,2018-03-14 18:49:20,2018-03-14 18:54:38,3847,318.0,260,Kedzie Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Male,1987.0
3,17881130,2018-03-14 18:33:48,2018-03-14 19:07:40,1483,"2,032.0",199,Wabash Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Male,1990.0
4,17686289,2018-02-05 17:39:14,2018-02-05 17:46:13,6391,419.0,596,Benson Ave & Church St,605,University Library (NU),Subscriber,Male,1992.0

In [7]:
# Меняем значения данных сразу в 2 колонках на дататайм
df[['start_time', 'end_time']] = df[['start_time', 'end_time']].apply(pd.to_datetime)

In [8]:
# Задаем индекс в виде даты и перезаписываем дата-сет
df.set_index('start_time', inplace=True)

In [15]:
# Ресемплим по дням
df.resample('D').trip_id.count()

start_time
2018-01-01     191
2018-01-02     759
2018-01-03    1097
2018-01-04    1112
2018-01-05    1004
              ...
2018-03-27    2756
2018-03-28    3640
2018-03-29    2800
2018-03-30    2913
2018-03-31    1844
Freq: D, Name: trip_id, Length: 90, dtype: int64

In [13]:
# Берем max
df.resample('D').trip_id.count().max()

4196

In [14]:
# Назодим ID
df.resample('D').trip_id.count().idxmax()

Timestamp('2018-02-27 00:00:00', freq='D')

In [17]:
df.resample('1m').tripduration.count()

start_time
2018-01-31    49245
2018-02-28    46393
2018-03-31    78577
Freq: M, Name: tripduration, dtype: int64

In [19]:
bikes_april = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_8/bikes_april.csv')

In [21]:
bikes_april.dtypes

start_time            object
trip_id                int64
end_time              object
bikeid                 int64
tripduration          object
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
dtype: object

In [24]:
bikes_april[['start_time','end_time']] = bikes_april[['start_time','end_time']].apply(pd.to_datetime)

In [26]:
bikes_april.set_index('start_time', inplace=True)

In [27]:
bikes_april.head()

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-04-01 00:10:23,18000531,2018-04-01 00:22:12,5065,709.0,228,Damen Ave & Melrose Ave,219,Damen Ave & Cortland St,Subscriber,Male,1983.0
2018-04-01 00:15:49,18000533,2018-04-01 00:19:47,4570,238.0,128,Damen Ave & Chicago Ave,130,Damen Ave & Division St,Subscriber,Male,1978.0
2018-04-01 00:17:00,18000534,2018-04-01 00:22:53,1323,353.0,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Male,1991.0
2018-04-01 00:20:00,18000536,2018-04-01 00:26:22,2602,382.0,121,Blackstone Ave & Hyde Park Blvd,351,Cottage Grove Ave & 51st St,Subscriber,Female,1992.0
2018-04-01 00:23:19,18000538,2018-04-01 00:35:01,4213,702.0,31,Franklin St & Chicago Ave,180,Ritchie Ct & Banks St,Subscriber,Male,1985.0