In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_for_tableau.csv')

In [3]:
mindate = df.sort_values('date').drop_duplicates('device_id')

In [4]:
mindate = mindate[['device_id','date']]

In [5]:
mindate = mindate.rename(columns = {'date': 'Когорта по первой сессии'})
mindate.head()

       device_id Когорта по первой сессии
0         669460               2020-01-01
13192   17289661               2020-01-01
13191   12215118               2020-01-01
13190    9163079               2020-01-01
13189    1948894               2020-01-01

In [6]:
mindate.device_id.nunique()

190884

In [7]:
mindate.shape[0]

190884

In [8]:
df = df.merge(mindate, how = 'left', on = 'device_id')
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,Когорта по первой сессии
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-,2020-01-01
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads,2020-01-01
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal,2020-01-01
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads,2020-01-01
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads,2020-01-01

In [9]:
df.event.unique()

array(['app_start', 'choose_item', 'purchase', 'search', 'tap_basket',
       'app_install', 'register'], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747968 entries, 0 to 2747967
Data columns (total 9 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      object
 1   event                     object
 2   purchase_sum              float64
 3   os_name                   object
 4   device_id                 int64
 5   gender                    object
 6   city                      object
 7   utm_source                object
 8   Когорта по первой сессии  object
dtypes: float64(1), int64(1), object(7)
memory usage: 209.7+ MB

In [22]:
#df.to_csv('for_cogort_analys.csv', index = False)