In [1]:
import pandas as pd
import numpy as np

In [2]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [3]:
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [4]:
my_stat['session_value'] = my_stat.session_value.fillna(0)

In [5]:
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [6]:
mediann_users = my_stat.query("n_users > 0")

In [7]:
mediann_users = mediann_users.n_users.median()

In [8]:
my_stat.query("n_users < 0")

   session_value  time group  n_users
1            0.0    11     A       -1
8            0.0     8     B      -11
9            0.0     9     A      -20

In [9]:
my_stat = my_stat.where(my_stat.n_users > 0, mediann_users)

In [10]:
my_stat.query("n_users < 0")

Empty DataFrame
Columns: [session_value, time, group, n_users]
Index: []

In [11]:
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            5.0     5     5        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9