In [1]:
import pandas as pd
import numpy as np

import pathlib
from pathlib import Path
home_dir_path = pathlib.Path.home()

import datetime as date
now = date.datetime.now()

# Фильтрация отстутствуюищих данных

## Простое избавление от NaN

### Series

In [2]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [3]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [4]:
data = data.dropna()

In [6]:
data

0    1.0
2    3.5
4    7.0
dtype: float64

In [7]:
data.astype('int')

0    1
2    3
4    7
dtype: int64

In [8]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [10]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

### DataFrame

In [15]:
data = pd.DataFrame([[1, np.nan, 6.4, 8.8], [np.nan, 9.4, 8, np.nan], [8.5, 5, 6, 4.5], [np.nan, np.nan, np.nan, np.nan]])

In [17]:
data

     0    1    2    3
0  1.0  NaN  6.4  8.8
1  NaN  9.4  8.0  NaN
2  8.5  5.0  6.0  4.5
3  NaN  NaN  NaN  NaN

In [18]:
clened_all = data.dropna()

In [19]:
clened_all

     0    1    2    3
2  8.5  5.0  6.0  4.5