In [1]:
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

In [2]:
# Подготавливаем общие настройки для графиков

sns.set(
    rc={
        "figure.figsize": (20, 10), #размер графика - 12 дюймов в ширину, 8 в длину
        "axes.titlesize": 20, #размер заголовка 
        "axes.labelsize": 14, #размер подписей осей
        "xtick.labelsize": 13, #размер подписей чёрточек на x-оси
        "ytick.labelsize": 13, #размер подписей чёрточек на y-оси
    }
)

sns.set_style("whitegrid") #тема фона, белая со штриховкой
sns.set(font_scale=2)

In [3]:
os.listdir('/Users/evgeniyburovik/Documents/Courses/les_6')[9]

'gff.tsv'

## Задание 1

In [4]:
df = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_6/gff.tsv', sep = ' ')

In [5]:
df = df.rename(columns={'seq_id\tsource\ttype\tstart\tend\tscore\tstrand\tphase\tattributes': 'columns'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   columns  512 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [6]:
# Разделяем по нужным символам строки и берем нужные индексы с помощью str
df['Parent'] = df['columns'].str.split(';').str[-1].str.split('=').str[-1]

In [7]:
df['Parent'].unique()

array(['XM_001475631.1', 'XM_001475631.1,', 'NC_000083.5:LOC100040603'],
      dtype=object)

In [8]:
# Удаляем ненужную запятую, которая попала в одно из значений
df['Parent'] = df.Parent.str.strip(',')

In [9]:
df['Parent'].unique()

array(['XM_001475631.1', 'NC_000083.5:LOC100040603'], dtype=object)

In [10]:
df.groupby('Parent').agg({'columns':'count'})

                          columns
Parent
NC_000083.5:LOC100040603       33
XM_001475631.1                479

In [11]:
df['columns'].iloc[8]

'chr17\tRefSeq\tmRNA\t6797760\t6818159\t.\t+\t.\tID=XM_001475631.1;Parent=NC_000083.5:LOC100040603'

In [12]:
df2 = pd.read_csv('/Users/evgeniyburovik/Documents/Courses/les_6/gff.tsv', sep = ' ')

In [13]:
df2

    seq_id\tsource\ttype\tstart\tend\tscore\tstrand\tphase\tattributes
0    chr17\tRefSeq\texon\t6811330\t6811453\t.\t+\t....
1    chr17\tRefSeq\tCDS\t6808204\t6808245\t.\t+\t0\...
2    chr17\tRefSeq\tCDS\t6811792\t6811869\t.\t+\t2\...
3    chr17\tRefSeq\texon\t6806513\t6806553\t.\t+\t....
4    chr17\tRefSeq\tfive_prime_UTR\t6806513\t680652...
..                                                 ...
507  chr17\tRefSeq\texon\t6812219\t6818159\t.\t+\t....
508  chr17\tRefSeq\tprotein\t6806527\t6812289\t.\t+...
509  chr17\tRefSeq\tCDS\t6806527\t6806553\t.\t+\t0\...
510  chr17\tRefSeq\texon\t6811792\t6811869\t.\t+\t....
511  chr17\tRefSeq\texon\t6806513\t6806553\t.\t+\t....

[512 rows x 1 columns]

In [14]:
# Пишем регулярку с разбивкой по словам
import re
pattern = re.compile('\w+')

In [24]:
def rewords(row):
    return pattern.findall(row)[2]

In [30]:
# Передаем строку и отбираем нужный столбец по индексу
df['type'] = df['columns'].apply(rewords)

In [31]:
df.groupby('type').agg({'columns':'count'}).sort_values('columns', ascending=False)

                 columns
type
exon                 201
CDS                  170
five_prime_UTR        47
mRNA                  33
three_prime_UTR       32
protein               29